#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    background-color: #fff;
    padding: 0.6rem 1rem;
    cursor: pointer;
    outline: none;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 1.2rem;
}

.nav__item {
    font-size: 1.3rem;
    cursor: pointer;
}

.start {
    margin-top: 2.5rem;
    text-align: center;
}

.start__button {
    font-size: 1.6rem;
    border: 1px solid green;
    border-radius: 0.8rem;
    color: green;
    cursor: pointer;
}

.time-tracker {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
    display: none;
}
.time-tracker {
    display: none;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
  }
  
  .field {
    min-height: 80vh;
    border: 1px solid rgb(120, 136, 120);
    border-radius: 0.8rem;
    padding: 0.6rem 2rem;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5rem;
    margin: 0.8rem 0;
    border: 1px solid black;
    border-radius: 0.8rem;
    cursor: pointer;
  }
  
  .field_container {
    display: none;
  }
  .card .fa-android {
    color: green;
    font-size: 2rem;
  }
  
  .card i {
    font-size: 4rem;
  }
/*TABLE*/
.table{
  
}
